<h4>Burgers:</h4>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burger-block devour=true}}
    {{/unless}}
    {{/each}}
</ul>

<h4>Devoured Burgers:</h4>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> devoured-block devour=true}}
    {{/if}}
    {{/each}}
</ul>

<form class='newBurger'>
    <label for='name'>Name:</label>
    <input id='name' name='name' type='text'>

    <button>Submit</button>
</form>